html {
    zoom: 80%;
}

body {
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #e90003;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    zoom: 100%
}

.header {
    font-size: 24px;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 16px 250px;
}

.links {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header a {
    color: white;
}

a {
    text-decoration: none;
    color: blueviolet;
}

.top {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 64px 250px;
}

.title {
    width: 750px;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top .subtext {
    font-size: 24px;
    font-weight: 300;
}

.top button {
    font-size: 30px;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
}

.upper-middle {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    gap: 150px;
    padding-bottom: 75px;
}

.upper-middle .subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info {
    padding: 50px;
    font-size: 45px;
}

.name {
    font-size: 24px;
    text-align: center;
    color: #e90003;

}

.text {
    width: 300px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.lower-middle {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 150px 400px;
    gap: 24px;
}

.quote {
    font-size: 52px;
    font-weight: 300;
}

.person {
    text-align: right;
    font-size: 32px;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.container {
    display: flex;
    background-color: #3b82f6;
    padding: 32px 64px;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    color: white;
}

.call {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.sign {
    font-weight: 300;
}

.bottom button {
    background-color: #3b82f6;
    padding: 8px;
    border-radius: 8px;
    color: white;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 16px;
}
